  .bg-custom-color {
    /* background-color: #3071a9; */ 
    background: #1A548F;
    border: none;
  }  

  .login_icon {
    height: 1em;
    width: 1em;
    margin-bottom: .1em;
    fill: currentColor ;
  }

  .user_icon {
    height: .9em;
    width: .9em;
    margin-bottom: .2em;
    fill: currentColor ;
  }

  .cart_icon {
    height: 1em;
    width: 1em;
    margin-bottom: .2em;
    fill: currentColor ;
  }

  .menu_icon {
    height: 2em;
    width: 2em;
    fill: currentColor ;
  }

  .no-outline{
    outline: none;
  }

  .text-custom-nav{
    color: #cbd3da
  }

  .text-custom-nav:hover{
    color: #f8f9fa;
  }


