<!-- Page Content -->

<div class="container">
  <!-- Breadcrumb -->
  <breadcrumb [params] = "[{route:[''], text: 'Home'},
            {route:[''], query: {category: data.item?.category}, text: data.item?.category },
            {text: data.item?.title }]"
  >
  </breadcrumb>
     
  <!-- Product Item Heading -->
  <div class="row">
    <div class="col-md-12">
      <h2 class="text-custom my-0" >
        {{data.item?.title + " -"}} <small> {{data.item?.slogan}}</small>
      </h2>
    </div>
  </div>
  <hr>
 <!-- Product Item Row -->
  <div *ngIf="data.item"  class=" mt-4" >  
    <item-card [item] ="data.item"
               [data]="data"
               buttonText ="Add to cart"
               details=true
               (clicked) = "addToCart($event)">
    </item-card>
  </div> 

  <!-- Latest Reviews Header -->
  <div class="row">
    <div class="col-lg-12 mt-4 mb-2 ">
      <h4 class="font-weight-normal">Latest Reviews</h4>
      <hr>
    </div>
  </div>
  <!-- Latest Reviews -->
  <div class="row">
    <div class="col-lg-12">
      <div *ngFor="let review of data.item?.reviews">
        <review [review]="review" ></review>
      </div>
    </div>
  </div>
  <!-- Add review Form -->
  <add-review-form [data] ="data" (newReview)="getItem($event)"></add-review-form>
 
  <!-- Related Products Row -->
  <div class="row mt-4">
    <div class="col-lg-12">
      <h4 class="font-weight-normal mt-4">Related Products</h4>
      <hr>
    </div>
    
    <div *ngFor="let relatedItem of data.relatedItems"
          class="col-sm-3 col-xs-6 ">
      <a [routerLink]="['/item', relatedItem._id]">
        <img class="img-fluid "
             src="assets{{relatedItem.img_url}}"
             alt="">
      </a>
    </div>
  </div>

</div>
