<!-- Page Content -->
<div class="container pt-3">
  <!-- Breadcrumb -->
  <breadcrumb [params] = "[{route:[''], text: 'Home'},
              {text: 'Cart' }]">
  </breadcrumb>
  <!-- Update Notification -->
	<div *ngIf="cart.updated" class="alert alert-info" role="alert">
		Your cart has been successfully updated
	</div>
	<div *ngIf="emptyCart" class="alert alert-warning" role="alert">
		Your cart is empty!
	</div>
  <!-- Cart Table -->
	<div class="row">
		<div class="col-md-12" >
			<div class="table-responsive-sm" >
				<table class="table table-bordered ">
					<thead>
						<tr>
							<th class="py-1 text-center">Product Name</th>
							<th class="py-1 ">Image</th>
							<th class="py-1 text-center">Quantity</th>
							<th class="py-1 text-center" >Unit Price</th>
							<th class="py-1 text-center">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr class="text-right" *ngFor="let item of cart?.items">		
							<td><a class="text-custom" [routerLink]="['/item', item._id]" >{{item.title}}</a></td>
							<td class="muted center_text"><a [routerLink]="['/item', item._id]"><img class="img-fluid" src="assets{{item.img_url}}"></a></td>
							<td>
								<select name="quantity" (change)="onChange($event.target.value,  item._id)">
									<option value="0">
										0 (Remove)
									</option>
									<option *ngFor="let i of opt"  value="{{i}}" [selected]="item.quantity == i" >
										{{i}}
									</option>
								</select>
							</td>
							<td class="text-center">
								{{item.price|number : '1.2-2'|currency:'USD'}}
							</td>
							<td>
								{{(item.price * item.quantity)|number : '1.2-2'|currency:'USD'}}
							</td>
						</tr>
				
						<tr class="text-right">
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>&nbsp;</td>
							<td>Total:</td>
							<td><strong>{{cart.total|number : '1.2-2'|currency:'USD'}}</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-right my-4" >
			<button class="btn btn-outline-success c-b-r" type="button"
					(click)="openCheckout()">
				Proceed to Checkout
			</button>
		</div>
	</div>
</div>
