  <!-- Item  -->  
<div class="row">
  <div class="col-lg-7">
    <div>
        <img class="img-fluid" src="assets{{item.img_url}}" alt="">
    </div>
  </div>
  <div class="col-lg-5 mt-3 mt-md-4 mt-lg-0 ">    
    <h4 class="font-weight-normal">Product Description</h4>
    <div class="rating-custom d-flex mb-2" >
      <div class="flex-grow-1">
        <span *ngFor="let num of sixStars">
          <svg class="star_icon" *ngIf="num >= data.stars" >
            <use xlink:href='assets/svg/sprite.svg#icon-star-outlined'></use>
          </svg> 
          <svg class="star_icon" *ngIf="data.stars > num" >
              <use xlink:href='assets/svg/sprite.svg#icon-star'></use>
            </svg>
        </span>
      </div>
      <div  *ngIf="data.reviews?.length == 1">
        {{data.numReviews}} review
      </div>
      <div *ngIf="data.reviews?.length != 1">
        {{data.numReviews}} reviews
      </div>
    </div>

    <p >{{item.description}}</p>
    <div class="text-custom  py-4  c-card-details">
      <h6>{{item.price | currency:'USD'}}</h6>
      <button-main
        (click)="clicked.emit(item._id)"
        [text]="buttonText" 
        [routerLink]="['/item', item._id]">
      </button-main>
    </div>    
  </div>
</div>
    <!-- /.row -->

