/* You can add global styles to this file, and also import other style files */

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" );


body {
   font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans","Helvetica Neue", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

:root{
   --color-primary: #337ab7;
   --color-secondary: #286090;
   --color-ratings: #d17599;

   --color-grey-dark-1: #333;
   --color-grey-dark-2: #777;
   --color-grey-dark-3: #999;
}


.bg-custom {
   background-color: var(--color-primary) !important;
}

.bg-custom:hover{
   background-color: var(--color-secondary) !important;
}

.text-custom {
   color: var(--color-primary);
}

.rating-custom {
   color: var(--color-ratings);
}

.arrow_icon {
   height: 1.6em;
   width: 1.6em;
   margin-bottom: .1em;
   fill: currentColor ;
 }

 .star_icon {
   height: 1em;
   width: 1em;
   
   fill: currentColor ;
 }


