/* You can add global styles to this file, and also import other style files */

@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" );


body {
   font-family:  "Helvetica Neue",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
   "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

.bg-custom {
   background-color: #337ab7 !important;
}

.bg-custom:hover{
   background-color: #286090 !important;
}

.text-custom {
   color: #337ab7;
}

.rating-custom {
   color: #d17599 ;
}

.arrow_icon {
   height: 1.6em;
   width: 1.6em;
   margin-bottom: .1em;
   fill: currentColor ;
 }

 .star_icon {
   height: 1em;
   width: 1em;
   
   fill: currentColor ;
 }
