<!-- Page Content -->
<div class="container ">
  <!-- Breadcrumb -->
  <breadcrumb [params] = "[{route:[''], text: 'Home'},
              { text: data.category_param }]">
  </breadcrumb>
  
  <!-- /.row -->
  <div class="row ">
    <!-- List categories --> 
    <div class="col-lg-2">
      <list-categories [data] = "data"></list-categories>
    </div>
    <!-- Items -->  
    <div class="col-lg-10 mt-3 mt-md-4 mt-lg-0 ">
      <div *ngFor="let item of data.items" >
        <item-card [item] = "item"  buttonText = "View Product" ></item-card>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <pagination [data]="data" [pages]= "pages"></pagination>

  <!-- Products count -->
  <div class="row d-flex justify-content-center" >
    <i>{{data.itemCount}} Products</i>
  </div>
</div>

